/*******************COLORES*******************/

header{      
    color: rgb(29, 51, 175);
    background-color: rgba(122, 200, 211, 0.979);
    background-image: linear-gradient(to top,rgb(68, 209, 214),rgba(4, 100, 156, 0.527) );
}

h2{
    color:rgb(29, 51, 175);
    background-color:rgba(122, 200, 211, 0.979);
  
}
h3{
    color:rgb(29, 51, 175);
    background-color:rgba(122, 200, 211, 0.979);
    border-radius:45px;
}
li{
    color:rgb(29, 51, 175);
}

p{
    color:rgb(29, 51, 175);
    background-color:rgba(122, 200, 211, 0.979);
}

.tituloCom{
    color: rgb(3, 1, 129);
    background-color: white;
}

.imagenNombre{
    background-color: rgb(101, 152, 219);
    font-size: 35px;
}

.footer{
    background-image: linear-gradient(to bottom left,rgb(68, 209, 214),rgba(4, 100, 156, 0.527)) ;
}
